@import '../../utils/colors.scss';
@import '../../utils/media.scss';

.PrivacyPolicy {
    margin: 2rem;

    &-icon {
        color: $prussianBlue;
        cursor: pointer;

        &:hover {
            color: $darkBlue;
        }
    }

    &-content {
        text-align: center;

        &_text {
            margin: 3rem 0;
            text-align: left;

            & h4 {
                margin-top: 3rem;
                margin-bottom: 1rem;
            }

            & p {
                margin-bottom: 1.25rem;
            }
        }
    }
}