@import '../../utils/media.scss';

.Header {
    background: url('./seahorseBg.jpg') no-repeat center center;
    background-size: cover;

    &-navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        border-bottom: 1px solid rgba(43, 108, 110, 0.3);
        position: fixed;
        z-index: 100;
        width: 100%;
        background-color: transparent;
        transition: background-color 0.45s ease-out;

        @media (min-width: $tablet) {
            padding: 0 2rem;
        }

        @media (max-width: $tablet) {
            &.dark {
                background-color: black !important;
            }
        }

        &.white {
            background-color: white;
            border-bottom: 1px solid #2B6C6E;
            transition: background-color 0.45s ease-out;
        }

        &__logo {
            padding-bottom: .15rem;
            padding-top: .6rem;

            & img {
                display: none;

                &.dark {
                    display: block;
                    width: 7rem;

                    @media (min-width: $tablet) {
                        width: 8rem;
                    }
                }

                @media (min-width: $tablet) {
                    display: block;
                    width: 8rem;
                    padding-top: 1.25rem;
                    padding-bottom: .5rem;
                }
            }

            @media (min-width: $tablet) {
                padding-top: 0;
            }
        }

        &__navigation {

            & nav {
                background-color: transparent !important;

                @media (min-width: $tablet) {
                    padding: 0;
                    margin: .75rem;
                }
            }

            & .nav-link {
                font-weight: 600;
                font-size: 1em;
                color: rgba(255, 255, 255, .75);
                cursor: pointer;
                margin-left: .5rem;
                letter-spacing: 2px;

                &.active {
                    color: white;

                }

                &:hover {
                    color: white;
                }

                &.dark {
                    color: #348083;

                    &:hover {
                        color: #174a4b;
                    }

                    &.active {
                        color: #174a4b;
                    }
                }
            }

            & .navbar-toggler-icon {
                background-image: none;
            }

            & .navbar-toggler {
                outline: none;
            }

            & .dark-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }

            & .light-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }

            & .blue-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2843, 108, 110, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }
    }

    & .mobile {
        background-color: black;
        position: fixed;
        width: 100vw;
        top: 57px;
        z-index: 1;
        padding-top: .5rem;
        padding-bottom: .5rem;
        transition: background-color 0.45s ease-out;
        animation: Move 0.55s;

        @keyframes Move {
            from {
                top: -100%;
            }

            to {
                top: 57px;
            }
        }

        &.whiteBg {
            background-color: white;
            border-bottom: 1px solid #e8e8e8;
            transition: background-color 0.45s ease-out;
        }

        & .nav-link {
            color: #2B6C6E;
            text-align: center;

            &.dark {
                color: #2B6C6E;
            }
        }
    }

    &-mainLogo {
        width: 100%;
        height: 15rem;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.2);

        @media (min-width: $tablet) {
            height: 32rem;
        }

        @media (min-width: $laptop) {
            height: 42rem;
        }

        &_text {
            color: white;
            text-align: center;

            & h2 {
                font-family: 'Playlist', serif;
                font-size: 114px;
                line-height: 1;
            }

            & h4 {
                font-size: 22px;
                letter-spacing: 4px;
            }
        }

        & img {
            width: 18rem;
            position: relative;
            padding-right: .5rem;
            z-index: 0;
            top: 1.5rem;

            @media (min-width: $mobileL) {
                width: 20rem;
            }

            @media (min-width: $tablet) {
                width: 24rem;
                top: 2.5rem;
            }

            @media (min-width: $laptop) {
                width: 30rem;
                padding-right: 2rem;
                top: 2rem;
            }
        }
    }
}