@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import './utils/colors.scss';

body {
  margin: 0;
  font-family: '-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h2, h3, h5 {
    font-family: 'Playlist', serif;
  }

  h4, a, p {
    font-family: 'Poppins', sans-serif;
  }

  h4 {
    color: $prussianBlue;
    font-size: 1.75rem;
    margin-top: 1rem;
  }

  p {
    color: rgb(59, 59, 59);
  }

  .h-underline {
    border: 0;
    height: 5px;
    background-color: $paleGrey;
    width: 3rem;
    margin: 0 auto 2rem auto;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Playlist';
  src: local('Playlist'), url('./fonts/PlaylistScript.otf') format('opentype');
}